<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="serviceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="order_service" />
		<property name="service" ref="rmiOrderService" />
		<property name="serviceInterface"  value="com.cddgg.rmi.service.RmiOrderService" />
		<property name="registryPort" value="1004" />
	</bean>

	<bean id="rmiOrderService" class="com.cddgg.rmi.service.impl.RmiOrderServiceImpl" />

</beans>
